* { 
    box-sizing: border-box; 
    margin: 0; 
}

html {
    color: #ccc;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

h1,
h2 {
    color: #fff;
    text-transform: uppercase; 
    text-align: center;
}

p {
    text-align: center;
}

a {
    color: #fff;
    font-size: 1.2em;
    transition: background-color .3s, color .3s;
    text-decoration: none;
    text-transform: uppercase; 
}

a:hover {
    color: #aaa;
}

ul {
    padding-left: 0;
}

.item__background--red {
    background-color: red;
}

.item__background--green {
    background-color: green;
}

.item__background--blue {
    background-color: blue;
}

.item__background--brown {
    background-color: brown;
}

@media screen and (max-width: 40rem) {
    .container1, 
    .container2,
    .container3, 
    header, 
    main, 
    footer {
        flex-direction: column;
    }    
}
/* containers */

/* container 1 */
.container1 {
    padding: 4vh 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.container1__item {
    flex-basis: 30%;
}



/* container 2 */
.container2 {
    padding: 4vh 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.container2__item {
    flex-basis: 20%;
}



/* container 3 */
.container3 {
    min-height: 30vh;
    padding: 4vh 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
#container3__item1 {
    flex: 1;
}
#container3__item2 {
    flex: 4;
}
#container3__item3 {
    flex: 1;
}